<launch>
    <arg name="model" default="test_model"/>
    <node pkg="lstm_visual_servoing" name="run" type="run.py" output="screen" args="-m $(arg model)" />
    <node pkg="lstm_visual_servoing" name="state_machine" type="state_machine.py" output="screen"/>
    <node pkg="lstm_visual_servoing" name="driver" type="ur_driver_lite.py" output="screen"/>
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
</launch>

